body{
    margin: 0;
    text-align: center;
}
header{
    background-image: url(https://i2.pickpik.com/photos/490/346/554/monitor-programming-computer-programming-computer-preview.jpg);
    background-size: cover;
    color: white;
    padding: 50px 0px;
    height: 200px;
}
.container{
    max-width: 600px;
    margin: auto;
}